<div class="pagination">
    <div class="pagination-left">
        {% if page.has_previous %}
            <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page.previous_page_number }}">← previous page</a>
        {% endif %}
    </div>
    <div class="pagination-center">
        page {{ page.number }} of {{ page.paginator.num_pages }}
    </div>
    <div class="pagination-right">
        {% if page.has_next %}
            <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page.next_page_number }}">next page →</a>
        {% endif %}
    </div>
</div>