{% extends "feed/base.html" %}

{% load static %}

{% block title %}eco_libra - change passwordt{% endblock %}

{% block extra_js %}
<link rel = 'stylesheet' href="{% static "account/css/password_reset.css" %}">
{% endblock %}

{% block content %}
<div class = 'password_change_container'>
    <div class = 'password_change_head'>
        <h1>change your password</h1>
    </div>
    <form class = 'password_change_form' method="post">
        {% csrf_token %}
        <div class = 'password_change_item'>
            <label for = {{ form.old_password.id_for_label }}>old password:</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="field_errors">
                    {{ form.old_password.errors }}
                </div>
            {% endif %}
        </div>
        <div class = 'password_change_item'>
            <label for = {{ form.new_password1.id_for_label }}>new password:</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="field_errors">
                    {{ form.new_password1.errors }}
                </div>
            {% endif %}
        </div>
        <div class = 'password_change_item'>
            <label for = {{ form.new_password2.id_for_label }}>repeat new password:</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="field_errors">
                    {{ form.new_password2.errors }}
                </div>
            {% endif %}
        </div>
    <input class = 'password_change_submit_button' type="submit" value="change password">
    </form>

    {% if form.non_field_errors %}
    <span class = 'errors'>
        <p>your passwords didn't match.</p>
        <p>please try again.</p>
    </span>
    {% endif %}
    <div class = 'back_to_login_button'>
        <a href = '{% url 'account:login' %}'>← back to login</a>
    </div>
</div>
{% endblock %}