{% extends "feed/base.html" %}

{% load static %}

{% block title %}eco_libra - change password{% endblock %}

{% block extra_js %}
<link rel = 'stylesheet' href="{% static "account/css/password_reset.css" %}">
{% endblock %}

{% block content %}
<div class = 'password_change_done_container'>
    <h1>password changed</h1>
    <p>your password has been successfully changed.</p>
    <div class = 'back_to_login_button'>
        <a href = '{% url 'members:profile_view' user_id=request.user.id %}'>← back to profile</a>
    </div>
</div>
{% endblock %}