{% extends "feed/base.html" %}

{% load static %}

{% block title %}eco_libra - forgot your password?{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="{% static "account/css/password_reset.css" %}">
{% endblock %}

{% block content %}

<div class = 'password_reset_container'>
    <div class = 'password_reset_head'>
        <h1>forgot your password?</h1>
        <p>(enter your e-mail address to obtain a new password)</p> 
    </div>
    <form action="{% url 'account:password_reset' %}" method="post" class="password_reset_form">
        {% csrf_token %}
        <div class = 'password_reset_form_item'>
            <label for = '{{ form.email.id_for_label }}'>email:</label>
            {{ form.email }}
        </div>
    <input type="submit" value="reset password" class = 'password_reset_submit_button' />
    </form>

    <div class = 'back_to_login_button'>
        <a href = '{% url 'account:login' %}'>← back to login</a>
    </div>
</div>
{% endblock %}