{% extends "feed/base.html" %}

{% load static %}

{% block title %}eco_libra - forgot your password?{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="{% static "account/css/password_reset.css" %}">
{% endblock %}

{% block content %}
<div class = 'password_reset_done_container'>
    <div class = 'password_reset_done_head'>
        <h1>reset your password</h1>
        <p> we've emailed you instruction for setting your password</p>
        <p>if you didn't received an email, make sure you've entered the adress you registered with.</p>
    </div>

    <div class = 'back_to_login_button'>
        <a href = '{% url 'account:login' %}'>← back to login</a>
    </div>
</div> 
{% endblock %}