{% extends "feed/base.html" %}

{% load static %}

{% block title %}eco_libra - set new password{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="{% static "account/css/password_reset.css" %}">
{% endblock %}

{% block content %}
<div class="password_reset_confirm_container">
    {% if validlink %}
        <div class="password_reset_confirm_head">
            <h1>reset your password</h1>
            <p>please enter your new password twice:</p>
        </div>

        <form method="post" class="password_reset_confirm_form">
            {% csrf_token %}
            
            <div class="password_reset_confirm_form_item">
                <label for="{{ form.new_password1.id_for_label }}">password:</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div class="field_errors">
                    {{ form.new_password1.errors }}
                </div>
                {% endif %}
            </div>

            <div class="password_reset_confirm_form_item">
                <label for="{{ form.new_password2.id_for_label }}">repeat password:</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div class="field_errors">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>

            <input type="submit" class="password_reset_confirm_submit_button" value="change my password" />
        </form>

        {% if form.non_field_errors %}
        <div class="errors">
            <p>please correct the errors above and try again.</p>
        </div>
        {% endif %}

    {% else %}
        <div class="password_reset_confirm_head">
            <h1>invalid link</h1>
        </div>
        <div class="invalid_reset_link">
            <p>the password reset link was invalid, possibly because it has already been used.</p>
            <p>please try again.</p>
        </div>
    {% endif %}

    <div class="back_to_login_button">
        <a href="{% url 'account:login' %}">← back to login</a>
    </div>
</div>
{% endblock %}