{% extends 'blog/base.html' %}

{% load static %}

{% block title %}eco_libra - share a post: {{ post.title }}{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="{% static "blog/css/post_share.css" %}">
{% endblock %}

{% block content %}
    <section class = "send_mail_container">
        <a href="{{ post.get_absolute_url }}">← back to the post</a>
    {% if sent %}
        <div class = "successful_mail">
            <h2> e-mail was successfully sent. </h2>
            <p>
                "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
            </p>
        </div>
        {% else %}
        <div class = "share_post">
            <h2> Share "{{ post.title }}" via e-mail </h2>
            <form class="share_form" method = 'post'>
                {% csrf_token %}
                <div class="share_form_item">
                    <label for="{{ form.name.id_for_label }}">your name:</label>
                    {{ form.name }}
                </div>
                <div class="share_form_item">
                    <label for="{{ form.email.id_for_label }}">your email:</label>
                    {{ form.email }}
                </div>
                <div class="share_form_item">
                    <label for="{{ form.to.id_for_label }}">email to:</label>
                    {{ form.to }}
                </div>
                <div class="share_form_body">
                    <label for="{{ form.comments.id_for_label }}">comments:</label>
                    {{ form.comments }}
                </div>
                <button type="submit" class="share_submit_button">send e-mail</button>
            </form>
        </div>
    {% endif %}
    </section>
{% endblock %}  