{% extends 'blog/base.html' %}

{% block title %}Share a post: {{ post.title }}{% endblock %}

{% block content %}
    {% if sent %}
        <h1> E-mail successfully sent </h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>

    <h4>
        <a href="{{ post.get_absolute_url }}">Back</a>
    </h4>
    {% else %}
        <h1> Share "{{ post.title }}" via e-mail </h1>
        <form method = 'post'>
            {{ form.as_p }}
            {% csrf_token %}
            <input type = "submit" value = "Send e-mail">
        </form>
       <div style="clear: both; display: block; padding-top: 15px;">
        <a href="{{ post.get_absolute_url }}">Back</a>
       </div>
    {% endif %}
{% endblock %}